* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gothic ProN Hiragino Kaku ";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #454545;
  text-shadow: 1px 1px 1px #a0a0a0;
}

.heading h2 {
  font-size:40px;
}
.heading h3 {
  font-size:30px;
  font-weight: normal;
}

.lessons  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.lesson-flex{
    float: left;
    height:511px;
    margin: 15px 10px;
}

.lesson {
}

.lesson-icon{
  background: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.lesson img {
  width:260px;
  display:block;
}


.text-contents {
  display:block;
  width: 260px;
  height:104px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 4px;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  font-weight: bold;
  background: #18ABF5;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px #808080;
}


.clear {
  clear: left;
}

@media all and (max-width: 1000px) {

}

@media all and (max-width: 800px) {
  .br2::before {
  content: "\A" ;
  white-space: pre ;
  }

}

@media all and (max-width: 650px) {
  .b1::before {
  content: "\A" ;
  white-space: pre ;
  }
}
@media all and (max-width: 538px) {
  .lessons{
    flex-direction:column;
  }

  .lesson-flex{
    /*width:100%;*/
    margin:15px auto;
  }

  .lesson {
  }

  .text-contents {
    margin:0 auto;
  }

  .lesson img {
    margin:0 auto;
  }
}
