* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}



.lesson-wrapper {
  /*height: 580px;*/
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lessons  {
margin: 0 auto;
}

.alesson {
  float: left;
  /*width: 23%;*/
  margin-right: 10px;
  padding-right: 10px;
  display: inline-block;
}

.lesson img {
  width:200px;
}

.lesson-icon {
  /*position: relative;*/
}

.lesson-icon p {
  /*position: absolute;*/
  top: 37%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 100%;
  /*display: inline-block;*/
  margin-top: 15px;
  font-size: 18px;
  color: #333;
}

.heading h3 {
  font-weight: normal;
}


.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

}

@media all and (max-width: 750px) {

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {

  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 1700px;
  }

}
